body {
    margin: 0;
    padding: 0;
    font-size: 10px; /*body font size*/
    letter-spacing: -1px;
    color: #909090; /*body font color*/
    font-family: Maven Pro, sans-serif; /*body font face*/
    width: 100%;
    height: 100%;
}

a {
    color: #909090; /*link color*/
    text-decoration: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

a:hover {
    color: #e1e1e1; /*hover link color*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#header {
    width: 100%;
    height: 50px;
    background: #ffffff; /*header background color*/
    line-height: 50px;
    box-shadow: 3px 3px 10px #e5e5e5;
    text-align: center;
    z-index: 1;
    position: fixed;
}

#title {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    color: #000000; /*header title color*/
}

#navigation {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#navigation a {
    margin: 30px;
    padding-bottom: 2px;
    color: #909090; /*navigation link color*/
    border-bottom: 1px dotted #ffffff; /*navigation link underline color*/
}

#navigation a:hover {
    color: #e1e1e1; /*hover navigation link color*/
    border-bottom: 1px dotted #e1e1e1; /*hover navigation link underline color*/
    padding-bottom: 2px;
}

#title {
    text-align: right;
    font-size: 36px;
    color: #000000; /*title color*/
    letter-spacing: -3px;
    margin-right: -10px;
    margin-top: -10px;
    text-transform: uppercase;
    font-weight: 900;
}

#section-one {
    width: 25%;
    height: 100%;
    background: #f9f9f9; /*section one background color*/
    position: fixed;
}

#section-one #unit {
    color: #000000; /*section one title color*/
    margin-top: 270px;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -10px;
    font-family: Arial Black;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), center  url(images/grey_wash_wall.png); /*section one title background*/
    background: -o-linear-gradient(transparent, transparent);
    background-repeat: repeat;
    -webkit-background-clip: text;
}

#hover-one {
    position: fixed;
    width: 25%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background: url(images/grey_wash_wall.png); /*hover section one background*/
    background-repeat: repeat;
}

#hover-one:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}

#abcxcomponent {
    margin: 0 auto;
    width: 300px;
    height: auto;
    margin-top: 100px;
}

#abcxcomponent #letterbox {
    width: 300px;
    height: 200px;
    background: #ffffff; /*about section box one color*/
    margin-top: 5px;
}

#abcxcomponent #letterbox h1 {
    float: left;
    font-size: 7em;
    margin: 15px 10px 0px 15px;
}

#abcxcomponent #letterbox p {
    margin: 10px;
    font-size: 2em;
    overflow: auto;
}

#abcxcomponent #letterbox ul li {
    float: left;
    padding: 5px;
    font-size: 2em;
    overflow: auto;
}

#section-two {
    position: fixed;
    width: 25%;
    height: 100%;
    background: #f9f9f9; /*section two background color*/
    border-left: 2px solid #ffffff;
    margin-left: 25%;
}

#section-two #unit {
    color: #000000; /*section two title color*/
    margin-top: 270px;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -10px;
    font-family: Arial Black;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), center  url(images/wild_flowers.png); /*section two title background*/
    background: -o-linear-gradient(transparent, transparent);
    background-repeat: repeat;
    -webkit-background-clip: text;
}

#hover-two {
    width: 25%;
    height: 100%;
    margin-left: 25%;
    position: fixed;
    opacity: 0;
    border-left: 2px solid #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background: url(images/wild_flowers.png); /*hover section two background*/
    background-repeat: repeat;
}

#hover-two:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}

#section-three {
    position: fixed;
    width: 25%;
    height: 100%;
    background: #f9f9f9; /*section three background color*/
    border-left: 2px solid #ffffff;
    margin-left: 50%;
}

#section-three #unit {
    color: #000000; /*section three title color*/
    margin-top: 270px;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -10px;
    font-family: Arial Black;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), center  url(images/norwegian_rose.png); /*section three title background*/
    background: -o-linear-gradient(transparent, transparent);
    background-repeat: repeat;
    -webkit-background-clip: text;
}

#hover-three {
    width: 25%;
    height: 100%;
    margin-left: 50%;
    position: fixed;
    opacity: 0;
    border-left: 2px solid #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background: url(images/norwegian_rose.png); /*hover section three background*/
    background-repeat: repeat;
}

#hover-three:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}

#section-four {
    position: fixed;
    width: 25%;
    height: 100%;
    background: #f9f9f9; /*section four background color*/
    border-left: 2px solid #ffffff;
    margin-left: 75%;
}

#section-four #unit {
    color: #000000; /*section four title color*/
    margin-top: 270px;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -10px;
    font-family: Arial Black;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), center  url(images/shattered.png); /*section four title background*/
    background: -o-linear-gradient(transparent, transparent);
    background-repeat: repeat;
    -webkit-background-clip: text;
}

#hover-four {
    width: 25%;
    height: 100%;
    margin-left: 75%;
    position: fixed;
    opacity: 0;
    border-left: 2px solid #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background: url(images/shattered.png); /*hover section four background*/
    background-repeat: repeat;
}

#hover-four:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}
           
::-webkit-scrollbar {
    height: 10px;
    width: 2px;
    background: #ffffff;
}
           
::-webkit-scrollbar-thumb:vertical {
    background: #909090; /*scrollbar color*/
}
 
::selection {
    background: #e1e1e1; /*selection color*/
    color: white;
}
           
::-moz-selection {
    background: #e1e1e1; /*selection color*/
    color: white;
}
 
p::selection {
    background: #e1e1e1; /*selection color*/
    color: white;
}
           
p::-moz-selection {
    background: #e1e1e1; /*selection color*/
    color: white;
}
